<div class="small-12 small-centered medium-12 large-12 columns">
	<div class="container">
		<div>
			<h1 class="head">About Us</h1>
		</div>
		<div class="header">
			<h4>Who are we?</h4>
		</div>
		<ul>
			<li>Morbi fringilla convallis sapien, id pulvinar odio volutpat. Tityre, tu patulae recubans sub tegmine fagi  dolor. Paullum deliquit, ponderibus modulisque suis ratio utitur. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Quam diu etiam furor iste tuus nos eludet?</li>
		</ul>
		<div class="header">
			<h4>What are we?</h4>
		</div>
		<ul>
			<li>Etiam habebis sem dicantur magna mollis euismod. Contra legem facit qui id facit quod lex prohibet. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Cras mattis iudicium purus sit amet fermentum. Phasellus laoreet lorem vel dolor tempus vehicula.</li>
		</ul>
		<div class="header">
			<h4>Where?</h4>
		</div>
		<ul>
			<li>Gameroom currently has two stores in Lincoln</li>
			<li><a href="/locations#downtown">Gameroom Downtown</a> is located at 1713 O St, 68508</li>
			<li><a href="/locations#south">Gameroom South</a> is located at 5400 S 56th St, 68516</li>
		</ul>
		<div class="header">
			<h4>When?</h4>
		</div>
		<ul>
			<li><a href="/locations#downtown">Gameroom Downtown</a> is open from 11 A.M. - 9 P.M. 7 days a week.</li>
			<li><a href="/locations#south">Gameroom South</a> is open from 11:30 A.M. - 8:30 P.M. 7 days a week.</li>
		</ul>
		<div class="header">
			<h4>Why?</h4>
		</div>
		<ul>
			<li>Mercedem aut nummos unde unde extricat, amaras. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Quid securi etiam tamquam eu fugiat nulla pariatur. Donec sed odio operae, eu vulputate felis rhoncus. Qui ipsorum lingua Celtae, nostra Galli appellantur.</li>
		</ul>
	</div>
</div>
