<div class="small-12 small-centered medium-12 large-12 columns">
	<div class="container">
		<div>
			<h1 class="head">About Us</h1>
		</div>
		<div class="header">
			<h4>Who are we?</h4>
		</div>
		<ul>
			<li>*DON'T TALK ABOUT THE PHYSICAL STORE, TALK ABOUT MOTIVES OF THE BUSINESS AS A WHOLE*</li>
		</ul>
		<div class="header">
			<h4>What are we?</h4>
		</div>
		<ul>
			<li>*TALK ABOUT THE PHYSICAL STORE, WHAT WE SELL, SERVICES WE OFFER ETC.*</li>
		</ul>
		<div class="header">
			<h4>Where?</h4>
		</div>
		<ul>
			<li>Gameroom currently has two stores in Lincoln</li>
			<li><a href="/locations#downtown">Gameroom Downtown</a> is located at 1713 O St, 68508</li>
			<li><a href="/locations#south">Gameroom South</a> is located at 5400 S 56th St, 68516</li>
		</ul>
		<div class="header">
			<h4>When?</h4>
		</div>
		<ul>
			<li><a href="/locations#downtown">Gameroom Downtown</a> is open from 11 A.M. - 9 P.M. 7 days a week.</li>
			<li><a href="/locations#south">Gameroom South</a> is open from 11:30 A.M. - 8:30 P.M. 7 days a week.</li>
		</ul>
		<div class="header">
			<h4>Why?</h4>
		</div>
		<ul>
			<li>*TALK ABOUT MOTIVES ABOUT RUNNING THE BUSINESS THE WAY THAT IT IS RUN*</li>
		</ul>
	</div>
</div>
