<!--Links to other social media sites-->
<div class="small-12 medium-12 large-12 columns">
	<div class="header">
		<h2>Follow us</h2>
	</div>
</div>
<div class="small-12 medium-12 large-12 columns">
	<div class="content">
		<ul>
			<li><a href="http://www.facebook.com/gameroomforpresident">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Tumblr</a></li>
		</ul>
	</div>
</div>
<!--Email form-->
<div class="small-12 medium-12 large-12 columns">
	<div class="header">
		<h4>Questions, comments, or concerns?</h4>
	</div>
</div>
<div class="small-12 medium-12 large-12 columns">
	<div class="content">
		<form action="MAILTO:peterbarnesgameroom@gmail.com" method="post" enctype="text/plain">
		<ul>
			<li>
				<div class="small-6 medium-6 large-6 columns">
					<label>Name
						<input type="text" placeholder="Your name here">
					</label>
					<label>Email
						<input type="text" placeholder="Your email here">
					</label>
					<label>Message
						<textarea placeholder="Your message here"></textarea>
					</label>
					<input type="submit" value="Send">
				</div>
			</li>
		</ul>
	</div>
</div>

