<div class="row">
  <div class="small-12 medium-12 large-12 columns">
  	<%= image_tag("logo.png") %>
  </div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<div class="container">
		<div class="header">
		<h4>Deal of the week</h4>
	</div>
		<ul>
			<li>Fabio vel iudice vincam, sunt in culpa qui officia.</li>
			<li>Magna pars studiorum, prodita quaerimus.</li>
			<li>Praeterea iter est quasdam res quas ex communi.</li>
		</ul>
	</div>
</div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<div class="container">
		<div class="header">
			<h4>Gameroom headlines</h4>
		</div>
			<ul>
				<li>Hi omnes lingua, institutis, legibus inter se differunt. Curabitur est gravida et libero vitae dictum. Quo usque tandem abutere, Catilina, patientia nostra? Plura mihi bona sunt, inclinet, amari petere vellent.</li>
			</ul>
	</div>
</div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<div class="container">
		<div class="header">
			<h4>Some other heading that I can't think of</h4>
		</div>
		<ul>
			<li>Quisque ut dolor gravida, placerat libero vel, euismod. Etiam habebis sem dicantur magna mollis euismod. Cras mattis iudicium purus sit amet fermentum. Salutantibus vitae elit libero, a pharetra augue.</li>
		</ul>
	</div>
</div>
</div>
