<div class="row">
  <div class="small-12 medium-12 large-12 columns">
  	<div class="container">
  	<%= image_tag("logo.png") %>
  </div>
  </div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<div class="container">
		<div class="header">
		<h4><i class="fa fa-dollar"></i> Deal of the week</h4>
	</div>
		<ul>
			<li>*Don't put content in here, this will be filled with sales discussed with storefront employees*</li>
		</ul>
	</div>
</div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<div class="container">
		<div class="header">
			<h4><i class="fa fa-calendar-o"></i> Gameroom headlines</h4>
		</div>
			<ul>
				<li>*ADD RELEVANT NEWS INFORMATION HERE THAT CUSTOMERS WANT TO KNOW ABOUT*</li>
			</ul>
	</div>
</div>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<div class="container">
		<div class="header">
			<h4><i class="fa fa-eye"></i> Wanted Items List</h4>
		</div>
		<ul>
			<li>*Don't put content here, this will be filled with items needed in the storefront that aren't available from the warehouse*</li>
		</ul>
	</div>
</div>
</div>
