<div class="small-3 large-3 columns">
<ul class="side-nav">
	<li><a href="#">Gameroom Downtown</a></li>
	<li class="divider"></li>
	<li><a href="#">Gameroom South</a></li>
</ul>
</div>
<div class="small-9 columns">
	<h4>Gameroom Downtown| (402)-438-7161</h4>
	<div class="info">
		<ul>
			<li>Hours| 11 AM - 9 PM</li>
		</ul>
	</div>
	<h4>Gameroom South| (402)-421-0935</h4>
	<div class="info">
		<ul>
			<li>Hours| 11:30 AM - 8:30 PM</li>
		</ul>
	</div>
</div>

