<div class="small-3 large-3 columns">
<ul class="side-nav">
	<li><a href="#downtown">Gameroom Downtown</a></li>
	<li class="divider"></li>
	<li><a href="#south">Gameroom South</a></li>
</ul>
</div>
<div class="small-8 small-offset-1 columns">
	<div class="container">
	<div class="header">
	<h4 id="downtown">Gameroom Downtown| (402)-438-7161 <i class="fa fa-phone"></i></h4>
</div>
	<div class="info">
		<ul>
			<li>Hours| 11 AM - 9 PM</li>
			<li class="show-for-medium-up">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1509.8368366800487!2d-96.69575487596968!3d40.813164218472146!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1396046042422" width="600" height="450" frameborder="0" style="border:0"></iframe>
			</li>
			<li class="show-for-small-only">
				<p>1713 O St|Lincoln, NE|68508</p>
			</li>
		</ul>
	</div>
	</div>
	<div class="container">
	<div class="header">
	<h4 id="south">Gameroom South| (402)-421-0935 <i class="fa fa-phone"></i></h4>
</div>
	<div class="info">
		<ul>
			<li>Hours| 11:30 AM - 8:30 PM</li>
			<li class="show-for-medium-up">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.1596143509505!2d-96.640411!3d40.758514!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87969622d3fdf0c3%3A0xae4673310be16c0c!2sGameroom!5e0!3m2!1sen!2sus!4v1396046359720" width="600" height="450" frameborder="0" style="border:0"></iframe>
			</li>
			<li class="show-for-small-only">
				<p>5400 S 56th St #9|Lincoln, NE|68516</p>
			</li>
		</ul>
	</div>
	</div>
</div>

