<div class="small-3 large-3 columns">
	<ul class="side-nav panel">
		<li><a href="#sell">Selling</a></li>
		<li class="divider"></li>
		<li><a href="#repairs">Repairs</a></li>
		<li class="divider"></li>
		<li><a href="#disc">Disc cleaning</a></li>
		<li class="divider"></li>
		<li><a href="#volun">Volunteering</a></li>
	</ul>
</div>
<div class="small-8 small-offset-1 columns">
	<div class="container">
	<div class="header">
	<h4 id="sell"><i class="fa fa-money"></i> Selling</h4>
	</div>
	<div class="info">
		<ul>
			<li>*EXPLAIN CASH VS STORE CREDIT, WHAT WE BUY, AND MAKE SURE THAT IT IS STATED THAT YOU MUST BE 16 OR OLDER TO SELL AND NEED A PHOTO ID*</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="header">
		<h4 id="repairs"> <i class="fa fa-wrench"></i> Repairs</h4>
	</div>
	<div class="info">
		<ul>
			<li>*EXPLAIN WHAT WE REPAIR AND HOW THE PROCEDURE WORKS*</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="header">
		<h4 id="disc"><i class="fa fa-dot-circle-o"></i> Disc cleaning</h4>
	</div>
	<div class="info">
		<ul>
			<li>*EXPLAIN WHAT OUR DISC MACHINE CAN AND CAN'T DO AND GENERAL PRICING FOR DISCS AND BULK DISCS*</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="header">
		<h4 id="volun"><i class="fa fa-user"></i> Volunteering</h4>
	</div>
	<div class="info">
		<ul>
			<li>*EXPLAIN THE VOLUNTEERING PROGRAM*</li>
		</ul>
	</div>
</div>
</div>