<% if @user.errors.any? %>
	<div id="error_explanation">
		<div class="label alert radius">
			The form contains <%= pluralize(@user.errors.count, "error") %>
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><small>* <%= msg %></small></li>
			<% end %>
		</ul>
	</div>
<% end %>