<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h4><%= @params[:name] %> <%= "<#{@params[:email]}>" %> submitted a comment,</h4>
	<p><%= @params[:body] %></p>
</body>
</html>