/* Place all the styles related to the static_pages controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/ */
.row {
	background-color: #eaeaea;
}

ul {
	list-style: none;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999999;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	nav li {
		font-size: 75%;
	}
}

.side-nav {
	margin: 0 !important;
	a {
		color: #000000 !important;
		&:hover {
			color: #858585 !important;
		}
	}
}

.small-3.large-3 {
	height: 100%;
}
.small-8.small-offset-1 {
	border-left: 1px solid #FFFFFF;
	box-shadow: -1px -1px 1px #858585;
}

.header {
	border-bottom: 1px solid #858585;
}

.content {
	margin-top: 10px;
	padding: 5px;
}

.container {
	background-color: #cccccc;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 3px #000000;
}