<footer class="footer">
	<small>
		<%= link_to "Infinite Token", "http://www.infinitetoken.com" %>
	</small>
	<nav>
		<ul>
			<li><a href="http://www.facebook.com/gameroomforpresident" target="blank">Follow us</a></li>
		</ul>
	</nav>
</footer>