<footer class="footer">
	<small>
		<a href="http://www.infinitetoken.com" target="blank">Infinite Token</a>
	</small>
	<nav>
		<ul>
			<li><a href="http://www.facebook.com/gameroomforpresident" target="blank">Follow us</a></li>
		</ul>
	</nav>
</footer>